<a href="https://colab.research.google.com/github/kayohr/estudos-python/blob/main/Treinando_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#'capital inicial'.split()
#'capital inicial'.startswith('c')
'capital inicial'.startswith('C')
#'capital inicial'.upper().startswith('B')
#'capital inicial'.upper().endswith('B')
#'capital inicial'.upper().endswith('l')
#'capital inicial'.upper().endswith('L')

In [ ]:
msg = 'Olá, %s você é o player n %d e você tem %.2f pontos'
msg % ("fulano", 2, 978)

In [ ]:
email_tmpl = """
Olá, %(nome)s

Tem interesse em comprar %(produtos)s?

Este produto é ótimo para resolver %(texto)s

Clique aogra em %(link)s

Apenas %(quantidade)d caixas disponiveis

Preço promocional %(preco).2f cada!
"""

clientes = ["Joao", "Maria", "Fulano"]

for cliente in clientes:
    print(email_tmpl % {"nome": cliente, "produtos": "caneta", "texto": "Escreve muito",
                        "link":"www:lojaboa.com.br", "quantidade": 10,
                        "preco": 20.5}
          )

In [ ]:
#msg = 'Olá, {} você é o player n {} e você tem {} pontos'

msg = 'Olá, {} você é o player n {:03d} e você tem {:.3f} pontos'

msg.format("fulano", 2, 978)

In [ ]:
#"{:#^11}".format("valor")

#"{:-^10.4f}".format(450.500)


msg = 'Olá, {nome} você é o player n {num:03d} e você tem {pont:.3f} pontos'

msg.format(nome="fulano",num= 2,pont= 978)

'Olá, fulano você é o player n 002 e você tem 978.000 pontos'

In [ ]:
#numeros = list(range(1,11))

#for numero in numeros:
#    print("Tabuada do:", numero)
#    for outro_numero in numeros:
#      print(numero * outro_numero)
#    print("--------")

template = """
---Tabuada do 2---

    {operacoes}
##################
"""

numeros = list(range(1,11))

#for n1 in numeros:
#    operacoes = ""
#    for n2 in numeros:
        #resultado = n1 * n2
        #operacao = f"{n1} x {n2} = {n1 * n2}"
        #operacoes = opercaoes + bloco
#        operacoes += f"{n1} x {n2} = {n1 * n2}"
#        print(template.format(operacoes=operacoes))


for n1 in numeros:
    print("{:-^18}".format(f"Tabuada de {n1}"))
    print()
    for n2 in numeros:
        resultado = n1 * n2
        print("{:^18}".format(f"{n1} x {n2} = {resultado}"))
    print("#" * 18)

In [ ]:
#resultado = []
#for x in range(9):
#  resultado.append(x * 4)
#resultado
#24 in resultado

sala1 = ['Fulano', 'Davi', 'Joao', 'Eli', 'Zac', 'Maria']
sala2 = ['Maia', 'Joana', 'Erik', 'Carlos', 'Rony']

aula_ingles = ['Fulano', 'Davi', 'Maria', 'Erik', 'Joana']
aula_musica = ['Fulano', 'Maria', 'Erik']
auala_danca = ['Joao', 'Zac', 'Maria', 'Joana']

aula_ingles_sala1 = []
aula_ingles_sala2 = []

for aluno in aula_ingles:
  if aluno in sala1:
    aula_ingles_sala1.append(aluno)
    print('Ingles sala1 chamada', aula_ingles_sala1)
  elif aluno in sala2:
    aula_ingles_sala2.append(aluno)
    print('Ingles sala2 chamada', aula_ingles_sala2)

print()
print('Ingles sala1', aula_ingles_sala1)
print('Ingles sala2', aula_ingles_sala2)

In [ ]:
sala1 = ['Fulano', 'Davi', 'Joao', 'Eli', 'Zac', 'Maria']
sala2 = ['Maia', 'Joana', 'Erik', 'Carlos', 'Rony']

aula_ingles = ['Fulano', 'Davi', 'Maria', 'Erik', 'Joana']
aula_musica = ['Fulano', 'Maria', 'Erik']
aula_danca = ['Joao', 'Zac', 'Maria', 'Joana']

atividades = [("Ingles", aula_ingles), ("Musica", aula_musica), ("Dnaca", aula_danca)]


for nome_atividade, atividade in atividades:
    atividade_sala1 = []
    atividade_sala2 = []

    for aluno in atividade:
        if aluno in sala1:
            atividade_sala1.append(aluno)
            #print(f'{nome_atividade}', atividade_sala1)
        elif aluno in sala2:
            atividade_sala2.append(aluno)
            #print(f'{nome_atividade}', atividade_sala2)

    print()
    print(f'{nome_atividade} sala 1', atividade_sala1)
    print(f'{nome_atividade} sala 2', atividade_sala2)
    print('-' *40)

In [20]:
#c1 = set('banana')
#c1
conjunto_a = [1, 2, 3, 4, 5]
conjunto_b = [4, 5, 6, 7, 8]

#set(conjunto_a) | set(conjunto_b)
#set(conjunto_a).union(set(conjunto_b))

#set(conjunto_a).intersection(set(conjunto_b))

#set(conjunto_a) & set(conjunto_b)

#set(conjunto_a).difference(set(conjunto_b))

#set(conjunto_a) - set(conjunto_b)

#set(conjunto_a).symmetric_difference(set(conjunto_b))

set(conjunto_a) ^ set(conjunto_b)

{1, 2, 3, 6, 7, 8}

In [22]:
sala1 = ['Fulano', 'Davi', 'Joao', 'Eli', 'Zac', 'Maria']
sala2 = ['Maia', 'Joana', 'Erik', 'Carlos', 'Rony']

aula_ingles = ['Fulano', 'Davi', 'Maria', 'Erik', 'Joana']
aula_musica = ['Fulano', 'Maria', 'Erik']
aula_danca = ['Joao', 'Zac', 'Maria', 'Joana']

atividades = [("Ingles", aula_ingles), ("Musica", aula_musica), ("Dnaca", aula_danca)]

for nome_atividade, atividade in atividades:
    atividade_sala1 = set(sala1) & set(atividade)
    atividade_sala2 = set(sala2) & set(atividade)



    print()
    print(f'{nome_atividade} sala 1', atividade_sala1)
    print(f'{nome_atividade} sala 2', atividade_sala2)
    print('-' *40)

Ingles sala 1 {'Davi', 'Maria', 'Fulano'}
Ingles sala 2 {'Erik', 'Joana'}
----------------------------------------

Musica sala 1 {'Maria', 'Fulano'}
Musica sala 2 {'Erik'}
----------------------------------------

Dnaca sala 1 {'Maria', 'Zac', 'Joao'}
Dnaca sala 2 {'Joana'}
----------------------------------------